<% if !current.nil? and current.end_date and current.end_date >= Date.today %>
  <div id="whatson" class="hover">
	<div id="woContainer" showid="<%= current.id %>">
		<span id="woTitle">WHAT'S ON?</span>
		<span id="woShowtitle"><h2><%= current.title %></h2></span>
		<span id="woDates"><h2><%= current.start_date.strftime("%b %d") %> - <%= current.end_date.strftime("%b %d, %Y") %></h2></span>
		<span id="woThumb" class="rounded"><%= image_tag current.thumb.url(:thumb) %></span>
	</div>
  </div>
<% end %>
