<% if picture %>
  <% is_background ||= false %>
  <ul id="imageInfo" class="<%= 'hidden transBack' if is_background %> roundFont">
    <li class="pictureCaption"><%= picture[:caption] %></li>
    <li class="pictureShow"><%= picture[:title] %></li>
    <li class="pictureShowDate"><%= picture[:start_date] %></li>
    <li class="picturePhotographer"><%= picture[:photographer] %></li>
    <% if (is_background || false) and picture[:has_others] %>
      <%= link_to 'Change Background', '/change_background/' + (mode || 'any') + '/' + picture[:id].to_s, remote: true, id: 'changePicture', class: 'hover',  %>
    <% end %>
  </ul>
<% end %>
