<% @title = 'Contact Us' %>
<!--<%= semantic_form_for @contact, :url => contact_path do |f| %>
<p><%= @fields['greeting'] %></p>
  <%= f.input :name, :label => @fields['name'] %>
  <%= f.input :email, :label => @fields['email'] %>
  <%= f.input :subject, :label => @fields['subject'] %>
  <%= f.input :message, :as => :text, :label => @fields['message'] %>
  <%= f.action :submit, :label => @fields['submit'], :button_html => { :alt => @fields['submit'], :title => @fields['submit'] } %>
<% end %>-->

<p>If you've got a question, comment, proposition, or otherwise want to get in touch,<br/>
we're excited to hear from you!</p>
<p>Just shoot an email to <%=link_to 'contact@gdpproductions.com', 'mailto:contact@gdpproductions.com'%>, and you'll hear from us shortly.</p>