<%= form_for @picture, :html => {:multipart => true } do |f| %>
  <% if @picture.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@picture.errors.count, "error") %> prohibited this picture from being saved:</h2>

      <ul>
      <% @picture.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
  	<%= f.label :picture, "Picture to upload" %>
    <%= f.file_field :picture %>
  </div>
  <div class="field">
    <%= f.label :alt %><br />
    <%= f.text_field :alt %>
  </div>
  <div class="">
  </div>
  <div class="field">
    <%= f.label :caption %><br />
    <%= f.text_field :caption %>
  </div>
  <div class="field">
  	<%= f.label :show %>
  	<%= f.collection_select(:show_id, Show.all, :id, :title) %>	
  </div>
  <div class="field">
        <%= f.label :cover_photo_ind %><br/>
        True <%= f.radio_button :cover_photo_ind, 'true' %><br/>
        False <%= f.radio_button :cover_photo_ind, 'false' %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
