<% if get_picture %>
  <div id="image" class="hidden" title="<%=@picture.id%>"><%= image_tag @picture.picture.url %></div>
  <div id="minimize" class="transBack roundFont hover"></div>

  <ul id="imageInfo" class="hidden transBack roundFont">
    <li><%=@picture.caption %></li>
    <li><%=@picture.show.title %></li>
    <li><%=@picture.show.start_date.strftime("%b %Y").tr('0', 'O') %>
    <% if @picture.photographer and !@picture.photographer.empty? %>
      <li><%= 'Photo Credit: ' + @picture.photographer %></li>
    <% end %>
    <% if has_other_picture %>
      <li class="hover" id="changePicture">Change Picture</li>
    <% end %>
  </ul>

  <div id="pictureMode" class="hidden"><%= @picture_mode %></div>
<% end %>