<%= stylesheet_link_tag 'about' %>
<script type="text/javascript">
  $(document).ready(function() {
    aboutInitialize(<%= mobile? %>)
  });
</script>

<% if mobile? %>
  <div id="about">
    <h2 class="roundFont">About Us</h2>
  </div>
<% end %>

<div id="intro">
  <%= render_locale_partial 'intro' %>
</div>

<ul id="aboutList">
  <%= render :partial => 'badge', :locals => { :keyword => 'fast' } %>
  <%= render :partial => 'badge', :locals => { :keyword => 'twisted' } %>
  <%= render :partial => 'badge', :locals => { :keyword => 'cool' } %>
  <%= render :partial => 'badge', :locals => { :keyword => 'cheap' } %>
</ul>

<div id="info">

<div id="inTheWorks">
  <%= render_locale_partial 'in_the_works' %>
</div>

<div id="howToHelp">
    <h2 class="roundFont">Want to help out?</h2>
    <p>Are you an actor? Director? Designer? Stage manager? Space owner? Generous donor? Potential audience member? If you'd like to help out, we'd like to hear from you.</p>
    <p>Shoot us an email at <%= link_to'contact@gdpproductions.com', 'mailto:contact@gdpproductions.com' %>, and we'll get back to you shortly!</p>
  </div>
</div>