<% @title = 'About Us'  %>
<%= stylesheet_link_tag 'about' %>

<div id="intro">
  Welcome to GDP Productions, Philadelphia's finest renegade theater experience.<br/>
  We're a group of individuals committed to providing theater for the masses through four simple principles:
</div>

<ul id="aboutList">
  <li class="roundFont aboutItem">
    <div class="aboutimg"><%= image_tag '/images/icons/fast.PNG'%></div>
    <div class="abouttext">We make it<br/><h2>Fast</h2></div>
    <div class="slider"><%=@description['fast']%></div>
  </li>
  <li class="roundFont aboutItem">
    <div class="aboutimg"><%= image_tag '/images/icons/twisted2.PNG'%></div>
    <div class="abouttext">We make it<br/><h2>Twisted</h2></div>
      <div class="slider"><%=@description['twisted']%></div>
  </li>
  <li class="roundFont aboutItem">
    <div class="aboutimg"><%= image_tag '/images/icons/cool.PNG'%></div>
    <div class="abouttext">We make it<br/><h2>Cool</h2></div>
    <div class="slider"><%=@description['cool']%></div>
  </li>
  <li class="roundFont aboutItem">
     <div class="aboutimg"><%= image_tag '/images/icons/cheap.PNG'%></div>
    <div class="abouttext">We make it<br/><h2>Cheap</h2></div>
    <div class="slider"><%=@description['cheap']%></div>
  </li>
</ul>

<div id="info">

<% if @show %>
  <div id="inTheWorks">
    <h2 class="roundFont">What's in the works</h2>
    <%= render :partial => 'shows/mini', :locals => {:show => @show} %>
  </div>
<% end %>

<div id="howToHelp">
    <h2 class="roundFont">Want to help out?</h2>
    <p>Are you an actor? Director? Designer? Stage manager? Space owner? Generous donor? Potential audience member? If you'd like to help out, we'd like to hear from you.</p>
    <p>Shoot us an email at <%= link_to'contact@gdpproductions.com', 'mailto:contact@gdpproductions.com' %>, and we'll get back to you shortly!</p>
  </div>
</div>