<% @title = 'About Us'  %>
<%= stylesheet_link_tag 'about' %>

<div id="intro">
  Welcome to GDP Productions, Philadelphia's finest renegade theater experience.<br/>
  We're a group of individuals committed to providing theater for the masses through four simple principles:
</div>

<ul id="aboutList">
  <li class="roundFont aboutItem">
    <div class="aboutimg"><%= image_tag '/images/icons/fast.png'%></div>
    <div class="abouttext">We make it<br/><h2>Fast</h2></div>
    <div class="slider"><%=@description['fast']%></div>
  </li>
  <li class="roundFont aboutItem">
    <div class="aboutimg"><%= image_tag '/images/icons/twisted2.png'%></div>
    <div class="abouttext">We make it<br/><h2>Twisted</h2></div>
      <div class="slider"><%=@description['twisted']%></div>
  </li>
  <li class="roundFont aboutItem">
    <div class="aboutimg"><%= image_tag '/images/icons/cool.png'%></div>
    <div class="abouttext">We make it<br/><h2>Cool</h2></div>
    <div class="slider"><%=@description['cool']%></div>
  </li>
  <li class="roundFont aboutItem">
     <div class="aboutimg"><%= image_tag '/images/icons/cheap.png'%></div>
    <div class="abouttext">We make it<br/><h2>Cheap</h2></div>
    <div class="slider"><%=@description['cheap']%></div>
  </li>
</ul>

<div id="info">

<% if @show %>
  <div id="inTheWorks">
    <h2 class="roundFont">What's in the works</h2>
    <div id="show<%= @show.id %>" class="show rounded hover">
            <div class="showText">
                    <div class="showTitle hover"><h2><%= link_to(@show.title, "/shows/" + @show.id.to_s()) %></h2></div>
                    <div class="showDates"><h2><%= @show.start_date.strftime("%b %d") %> - <%= @show.end_date.strftime("%b %d, %Y") %> at <%= @show.venue.name %></h2></div>
                    <div class="scroller showScroller">
                            <div class="showDesc"><%= @show.blurb %></div>
                    </div>
            </div>
            <div class="showPic">
                    <%= image_tag @show.thumb.url, :class => 'roundedNoIE' %>
            </div>
    </div>
  </div>
  <% end %>

<div id="howToHelp">
    <h2 class="roundFont">Want to help out?</h2>
    <p>Are you an actor? Director? Designer? Stage manager? Space owner? Generous donor? Potential audience member? If you'd like to help out, we'd like to hear from you.<br/>
      <%= link_to'Fill out our contact form', contact_path %> or <%= link_to'shoot us an email', 'mailto:contact@gdpproductions.com' %>, and we'll get back to you shortly!</p>
  </div>
</div>