<div id="show<%= show.id %>" class="show rounded hover">
	<div class="showText">
		<div class="showTitle hover"><h2><%= link_to(show.title, "/shows/" + show.id.to_s()) %></h2><%=
                  show.ticket_link and show.end_date >= Date.today ? link_to('(Buy Tickets)', show.ticket_link) : '' %>
                </div>
		<div class="showDates"><h2><%= show.start_date.strftime("%b %d") %> - <%= show.end_date.strftime("%b %d, %Y") %> at <%= show.venue.name %></h2></div>
		<div class="scroller showScroller">
			<div class="showDesc"><%= show.blurb %></div>
		</div>
	</div>
	<div class="showPic">
		<%= image_tag show.thumb.url, :class => 'roundedNoIE' %>
	</div>
</div>