<% if condition %> 
  <div data-target="show<%= name %>"  class="showGridSquare">
    <div class="gridSquareSpacer">
      <a href="<%= !href.empty? ? href : '/shows/' + @show.id.to_s + '/' + name.downcase %>">
        <% if icon %>
          <i class="icon-<%= icon %>"></i>
        <% end %>
          <span><%= name %></span>
      </a>
    </div>
  </div>

  <div id="show<%= name %>" class="showGridCanvas offscreen"></div>
<% end %>
