
<% if @show.venue.present? and @show.venue.latitude.present? and @show.venue.longitude.present? %>
  <div id="latlng" class="hidden"><%= @show.venue.latitude + ';' + @show.venue.longitude %></div>
<% end %>
  
<% if @show.ticket_link.present? && @show.end_date >= Date.today %>
  <div id="ticketLink" class="hidden"><%=  @show.ticket_link %></div>
<% end %>

<%= render :partial => @platform %>  

<% if session[:id] %>
  <%= link_to 'Edit', edit_show_path(@show) if @show.persisted? %> |
  <%= link_to 'Back', shows_path %>
<% end %>