
<% if !@show.venue.latitude.nil? and !@show.venue.longitude.nil? %>
  <div id="latlng" class="hidden"><%= @show.venue.latitude + ';' + @show.venue.longitude %></div>
<% end %>
  
<% if @show.ticket_link.length > 0 and @show.end_date >= Date.today %>
  <div id="ticketLink" class="hidden"><%=  @show.ticket_link %></div>
<% end %>
  
<% if mobile? %>
  <%= render :partial => 'mobile' %>
<% else %>
  <%= render :partial => 'desktop' %>
<% end %>

<% if session[:id] %>
  <%= link_to 'Edit', edit_show_path(@show) %> |
  <%= link_to 'Back', shows_path %>
<% end %>