<!DOCTYPE html>
<html>
<head>
  <title>GDP <%= if @title then ' - ' + @title end %></title>
  <%= stylesheet_link_tag 'application' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tag %>
</head>
<body>

<% if session[:id] %>
  <div id="loggedin"></div>
<% end %>

<div id="body">
        <div id="gdp"><%=  image_tag('GDP.gif') %></div>
	<div id="menu"><%= render :template => 'links/index' %></div>
	<div id="header"><%= @title %></div>
        <div id="content" class="scroller">
          <% if flash[:notice] %> <div id="notice" class="flash"><%= flash[:notice] %></div> <% end %>
          <% if flash[:error] %><div id="error" class="flash"><%= flash[:error] %></div> <% end %>
          <%= yield %>
        </div>
	<% if Show.current.end_date >= Date.today %><div id="whatson"><%= render :template => 'whatson/index' %></div><% end %>
</div>

<div id="image" class="hidden">
	<%= if !get_picture.nil?
            image_tag get_picture.picture.url
        end%>
</div>

</body>
</html>
