<!DOCTYPE html>
<html>
<head>
  <title>GDP <%= if @title then ' - ' + @title end %></title>
  <%= stylesheet_link_tag 'application' %>
  <%= stylesheet_link_tag @platform %>
  <%= javascript_include_tag 'application' %>
  <%= javascript_include_tag @platform %>
  <%= csrf_meta_tag %>
  <%= favicon_link_tag %>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">  
</head>
<body>

<% if session[:id] %>
  <div id="loggedin"></div>
<% end %>
 
<div id="body">
	<%= render :template => 'layouts/' + @platform %>
</body>
</html>
