
<div id="gdp"><%= link_to(image_tag('GDP.gif'), '/') %></div>
<div id="header"><%= @title %></div>
<div id="content" class="transBack scroller"><%= yield %></div>

<%= render partial: 'partials/links', locals: { links: @links, socials: @socials, desktop: true } %>
<%= render partial: 'partials/desktop/flash', locals: { flash: flash } %> 
<%= render partial: 'partials/desktop/background_data', locals: { background: @background } %>
<%= render partial: 'partials/desktop/whatson', locals: {current: @current } %>