
<%= render :template => 'links/index' %> 

<div id="gdp"><%= link_to(image_tag('GDP.gif'), '/') %></div>
<div id="pictureData"><%= render :template => 'picture_data/index' %></div>
<div id="header"><%= @title %></div>
<div id="content" class="transBack scroller">
  <% if flash[:notice] %> 
    <div id="notice" class="flash"><%= flash[:notice] %></div>
  <% end %>

  <% if flash[:error] %>
    <div id="error" class="flash"><%= flash[:error] %></div>
  <% end %>
  <%= yield %>
</div>
<% if @current.end_date >= Date.today %>
  <div id="whatson" class="hover"><%= render :template => 'whatson/index' %></div>
<% end %>
