
<div id="mobileHeader">
  <%= link_to(image_tag('GDP_mini.gif', :id => 'logo'), '/') %>
  <% if get_picture %>
    <%= link_to('', '/shows/' + @picture.show.id.to_s, :id => 'mobileHeaderLink') %>
    <div id="mobileHeaderImage" class="invisible" title="<%=@picture.id%>">
      <div id="mobileHeaderImageShadow"></div>
      <%= image_tag @picture.picture.url(:thumb) %>
      <div id="mobileHeaderInfo" class="roundFont">
        <div><%= @picture.show.title %></div>
        <div><%= @picture.show.start_date.strftime("%b %Y").tr('0', 'O') %></div>
      </div>
    </div>
  <% end %>
</div>
<div id="mobileContent"><%= yield %></div>
<div id="mobileFooter"><%= render :template => 'socials/index' %></div>
